.PopularRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1300px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.popularCol{
    margin: 3px;
}
.popularCol:hover{
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}
.popularCol>img{
    width: 200px;
    border-radius: 7px;
    height: auto;
}
.title{
    font-size: calc(0.5rem + 2.3vw);
    width: 95%;
    margin: auto;
}
.loading{
    margin: 3px;
}
.login{
  display: flex;
}
.log{
    flex: 1;
}
